#parameters BorderPane, AnchorPane,HBox{
    -fx-background-color: #2c3e50;
}
#dataHBox Label, CheckBox{
    -fx-text-fill: #cdcdcd;
}
/*#dataHBox ChiceBox{*/
/*    -fx-text-fill: #2c3e50;*/
/*}*/

#topHBox Label{
    -fx-text-fill: #cdcdcd;
}

#maxNomMin Label{
    -fx-text-fill: #2c3e50;
}
#maxNomMin CheckBox{
    -fx-text-fill: #2c3e50;
}
#unitsColumn .label{
    -fx-text-fill: #2c3e50;
}
#medium .label{
    -fx-text-fill: #2c3e50;
}

.menu-bar{
    -fx-background-color: #cdcdcd;
}

.menu-button{
    -fx-background-color: #cdcdcd;
}

.menu-button:hover,  .menu-button:focused, .menu-button:showing {
    -fx-background-color: #eeeeee;
}
.menu-button:hover >.label, .menu-button:focused >.label, .menu-button:showing >.label{
    -fx-text-fill: black;
}
.menu-bar .menu-item:hover, .menu-item:focused, .menu-item:showing {
    -fx-background-color: #56799c;
}
#dataColumn  Label{
    -fx-text-fill: #cdcdcd;
}
/*.menu-button:hover .label, .menu-button:focused .label, .menu-button:showing .label{*/
/*    -fx-text-fill: black;*/
/*}*/

/*#2c3e50;*/

/*.menu:hover .label{*/
/*    -fx-background-color: #2c3ed0;*/
/*    -fx-text-fill: #2c3e50;*/
/*}*/
/*.menu:hover .menu-item{*/
/*    -fx-background-color: #2c3ed0;*/
/*    -fx-text-fill: #2c3e50;*/
/*}*/

/*#menu1, #menu2, #menu3{*//*главное меню*/
/*    -fx-background-color: #cdcdcd;*/
/*}*/



/*Label{*/
/*    -fx-background-color: #cdcdcd;*/









/*}*/